apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflare-tunnel-ingress-controller
spec:
  destination:
    namespace: cloudflare-tunnel-ingress-controller
    server: https://kubernetes.default.svc
  source:
    path: ''
    repoURL: https://helm.strrl.dev
    targetRevision: 0.0.21
    chart: cloudflare-tunnel-ingress-controller
    helm:
      valueFiles:
        - $repo/apps/cloudflare-tunnel-ingress-controller/values.yaml

  sources:
    - repoURL: https://github.com/AkatukiSora/k8s-deploys.git
      targetRevision: master
      ref: repo

  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
