apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  annotations:
    operator.1password.io/auto-restart: "true"
  name: grafana-admin-user
spec:
  itemPath: "vaults/ehfcjhym4ifnf5qu634gng55mi/items/tpesk4qre5xwtrtrlaavxnwlka"
